
@{
    ViewBag.Title = "ErrorMessage";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" id="error" role="alert">
            <center>
                <h4><strong>Ha ocurrido un error.</strong></h4>
                <h5>Si el error persiste contacte a soporte.</h5>
            </center>
        </div>
    </div>
</div>


